E:\Udemy\NodeJS\web-server\public\js\app.js

<html>

<head>

    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
{{>header}}

<br>
<br>
   <table>
   <th>First Field</th>    
    <th>Second Field</th>
    <tr>aomfdgmkofg</tr>
    <th>Third Field</th>
    <tr>sdhbfusdbhfhyb</tr>
    </table>




</body>

<footer>
{{>footer}}

</footer>




</html>